body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fae1dd;
  }
  
  .container {
    position: absolute;
  }

  .letter{
    background-color: #eae2b7;
    width: 600px;
    height: 800px;
    box-shadow: -5px -5px 100px rgba(0,0,0,0.4); 
  }
  .letter:before{
    content:"";
    position: absolute;
    border:3px solid #003049;
    border-style: dotted;
    width: 570px;
    heighT: 770px;
    left:12px;
    top:12px;
  }

  .text2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 31px;
    text-align: justify;
    color: #003049;
  }
  
  .Message{
   position: absolute;
   top: 20px;
   left: 20px;
   right: 20px;
  }

  .fadeout {
    opacity: 1;
    transition: opacity 0.5s ease; /* Adjust the duration as needed */
  }
  .fadeout.hidden {
    opacity: 0;
  }